@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f8f8ff;
}

.header-section {
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 84px;
}

ul {
  padding-right: 80px;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
  color: #0a1f44;
  font-size: 18px;
}

a:hover {
  color: #ffd700;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a1f44;
  padding: 40px 80px;
  color: white;
}

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  gap: 16px;
}

.hero-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  object-fit: cover;
  object-position: center;
}

.hero-image img {
  width: 250px;
  border-radius: 12px;
}

h1 {
  font-size: 48px;
  padding: 0;
  margin: 0;
  width: fit-content;
  font-weight: 900;
}

p {
  font-size: 18px;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.bukky {
  color: #ffd700;
}

button {
  background: #ffd700;
  color: #0a1f44;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}

.feature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
}

.feature-heading {
  padding: 24px 32px;
}

.feature-heading h1 {
  font-size: 36px;
  font-weight: 900;
  color: #0a1f44;
  text-align: center;
}

.img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 16px 32px; */
  gap: 32px;
}

.img-n-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18%;
  gap: 8px;
}

.img-n-sub img {
  width: 100%;
  border: 2px solid #ffd700;
  border-radius: 16px;
}

.img-n-sub p {
  font-size: 16px;
  text-align: center;
}

.magazine-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
  color: #1f2937;
  padding: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.quote-heading p {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.quote-para {
  align-self: flex-end;
}

.quote-para p {
  font-weight: 700;
  font-size: 18px;
}

.contact-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd700;
  margin: 32px 180px;
  padding: 32px 64px;
  color: #0a1f44;
  border-radius: 16px;
  gap: 24px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* padding: 12px; */
}

.call-to-action h1 {
  font-size: 28px;
  font-weight: 700;
}

.call-to-action p {
  font-size: 18px;
  font-weight: 300;
}

.contact-us-section button {
  border: 2px solid #0a1f44;
}

.footer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: #0a1f44;
  color: white;
  gap: 24px;
  padding: 12px 24px;
}
.center-div {
  display: flex;
  justify-content: center;
  flex: 1;
}

/* .copyright-img{
  margin-left: auto;
} */

.footer img {
  background-color: white;

  width: 64px;
}
